:root {
    --white: #ffffff;
    --dark: #080808;
    --primary: #f8ebeb;
    --secundary: #db8080;
    --radio-borde: .5rem;
}

@font-face {
    font-family: Playwrite;
    src: url(..)
}
img {
    width: 100%;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

body {
    background-color: rgba(252, 252, 240, 0.822);
    
}

h1 {
    p {
        text-align: justify;
        border: 1.5rem;
    }
}

main {
    padding: 1.5rem;
    border-radius: 1rem;
}

h3 {
    font-size: medium;
    color: #db8080;
}

.preparacion {
    width: 95%;
    max-width: 1000%;
    background-color: #f8e5e5;
    margin: rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

h2 {
    font-style: bolder;
    color: #bd6969;
}




