:root {
    --white: #ffffff;
    --dark: #080808;
    --primary: #f8ebeb;
    --secundary: #db8080;
    --radio-borde: .5rem;
}

img {
    width: 90%;
}

h1 {
    p {
        text-align: justify;
    }
}

main {
    padding: 1.5rem;
    border-radius: 1rem;
}

h3 {
    font-size: medium;
    color: #db8080;
}

.preparacion {
    background-color: #f8e5e5;
    padding: .5rem;
}

h2 {
    font-style: bolder;
    color: #bd6969;
}




